application:
  name: skill-boost

jpa:
  hibernate:
    ddl-auto: none

security:
  oauth2:
    client:
      registration:
        github:
          client-id: Ov23liXAPa0etQe0EisI
          client-secret: ${GITHUB_CLIENT_SECRET}
          scope:
            - read:user
            - user:email
          redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
      provider:
        github:
          authorization-uri: https://github.com/login/oauth/authorize
          token-uri: https://github.com/login/oauth/access_token
          user-info-uri: https://api.github.com/user
          user-name-attribute: id

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-ms: 86400000
